<article class="request-card">
  <section class="card-image" style="background-image: url({{from.profilePicture}}">
  </section>
  <section class="card-info">
    <h1>{{from.name}} </h1>
    <p>{{from.location}}</p>
    <p>{{date}}</p>
  </section>
  <section class="card-buttons">
    <div class="responses">
      <a class="accept" href='/request/accept'><i class="fas fa-check"></i></a>
      <a class="reject" href='/request/reject'><i class="fas fa-times"></i></a>
    </div>
    <button><i class="far fa-envelope"></i></button>
  </section>
</article>