<section class="request-section popup-hidden">
  <section class="request-popup">
    <button class="close-popup">X</button>
    {{#if allowRequest}}
    <h2>Send a request</h2>
    {{else}}
    <h2>Show them love!</h2>
    {{/if}}

    <form action="/requests?type={{currentUser.userType}}&sendId={{currentUser._id}}&recId={{user._id}}" method="POST">
      {{#if allowRequest}}
      <div>
        <label for="date">Date:</label>
        <input type="date" name="date" id="date">
      </div>
      {{/if}}
      <label for="message">Message:</label>
      <textarea id="message" name="message" rows="8"></textarea>
      <input type="submit" value="Send" class="send-button">
    </form>

  </section>
</section>