<h1>{{title}}</h1>

<h2>Bands</h2>
<ul>
  <li><a href="/users/5d3ec669b3089c355f505621?type=band">Band 1</a></li>
  <li><a href="/users/5d3ec669b3089c355f505622?type=band">Band 2</a></li>
  <li><a href="/users/5d3ec669b3089c355f505623?type=band">Band 3</a></li>
  <li><a href="/users/5d3ec669b3089c355f505624?type=band">Band 4</a></li>
</ul>

<h2>Stages</h2>
<ul>
  <li><a href="/users/5d3ec670cd3a9e3567a48982?type=stage">Stage 1</a></li>
  <li><a href="/users/5d3ec670cd3a9e3567a48983?type=stage">Stage 2</a></li>
  <li><a href="/users/5d3ec670cd3a9e3567a48984?type=stage">Stage 3</a></li>
  <li><a href="/users/5d3ec670cd3a9e3567a48985?type=stage">Stage 4</a></li>
</ul>
