<section id="landing-page">
  <h1>Look for a band. Find a place to play</h1>
  <div>
    <a href="/home" class="connect">Connect!</a>
    <p>
      <a href="/auth/signup">Signup</a> or <a href="/auth/login">Login</a>
    </p>
  </div>
</section>