<!DOCTYPE html>
<html>

<head>
  <title>Stagy</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://kit.fontawesome.com/9ad7204079.js"></script>
</head>
<body>
  <header>
    <nav>
      <i class="fas fa-chevron-left"></i>
      <img class="logo" src="/images/stagy-logo.png" alt="Stagy Logo">
    </nav>
  </header>
  {{{body}}}
  <footer>
    <a href="/requests/notifications"><i class="fas fa-bell"></i></a>
    <a href="/requests/list"><i class="far fa-calendar-check"></i></a>
    <a href="/home"><i class="fas fa-search"></i></a>
    <a href="/profile"><i class="fas fa-user"></i></a>
  </footer>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>

</html>