<section class="main-section" id="notifications">
  <h1>Notifications</h1>
  <div class="requests-top-buttons">
    <a class="requests-button band selected">Inbox</a>
    <a class="requests-button stage">Sent</a>
  </div>
  <div class="request-container">
    <div class="request-accepted">
      {{#each requests}}
        {{#unless (fromTo from.userType)}}
          {{> notificationCard}}
        {{/unless}}
      {{/each}}
    </div>
    <div class="request-rejected">
      {{#each requests}}
        {{#if (fromTo from.userType)}}
          {{> notificationCard}}
        {{/if}}
      {{/each}}
    </div>
  </div>
</section>

<script src='../javascripts/requestButtons.js'></script>
<script src='../javascripts/showMessage.js'></script>