<section class="main-section" id="requests-list">
  <div class="requests-top-buttons">
    <a class="requests-button band selected">Accepted</a>
    <a class="requests-button stage">Rejected</a>
  </div>
  <div class="request-container">
    <div class="request-accepted">
      {{#each requests}}
        {{#if (statusFilter this.status)}}
          {{> requestCard}}
        {{/if}}
      {{/each}}
    </div>
    <div class="request-rejected hidden">
      {{#each requests}}
        {{#unless (statusFilter this.status)}}
          {{> requestCard}}
        {{/unless}}
      {{/each}}
    </div>
  </div>
</section>

<script src='../javascripts/requestButtons.js'></script>