<section id="sign-up-in">
  <h1>Sign Up</h1>
  <form class="sign-up-in-form" autocomplete="off" action="/auth/signup" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" placeholder="your name">
    <label for="email">Email</label>
    <input type="text" name="email" id="email" placeholder="example@mail.com">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="your password">
    <label for="location">Location</label>
    <input type="text" name="location" id="location" placeholder="Barcelona">
    <section class="radio-buttons">
      <p>You are signin up as </p>
      <input type="radio" id="band" name="userType" value="band" checked>
      <label for="band">Band</label>
      <input type="radio" id="stage" name="userType" value="stage">
      <label for="stage">Stage</label>
    </section>
    <button type="submit">Signup</button>
  </form>
  <p>or <a href="/auth/login">Login</a></p>
  {{#if messages.length}}
  <ul>
    {{#each messages}}<li>{{this}}</li>{{/each}}
  </ul>
  {{/if}}
</section>