* {
  box-sizing: border-box; }

body {
  display: flex;
  padding: 0;
  margin: 0;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  width: 100vw;
  height: 100vh; }

p {
  text-align: left; }

a {
  color: #0095cf;
  text-decoration: none;
  cursor: pointer; }

small {
  margin-top: -5px;
  margin-bottom: 10px;
  color: #b10000; }

.main-section {
  padding: 15px 25px; }

#main-header,
footer {
  background-color: black;
  display: flex;
  width: 100%;
  color: white;
  position: fixed; }
  #main-header i,
  footer i {
    font-size: 1.5em;
    cursor: pointer;
    color: white; }
  #main-header i:hover,
  footer i:hover {
    color: #f6911e; }

footer {
  bottom: 0px;
  justify-content: space-evenly;
  padding: 12px; }

#main {
  margin: 55px 0 45px;
  width: 100%; }

nav {
  display: flex;
  align-items: center;
  padding: 10px;
  text-align: center;
  width: 100%; }

.logo {
  height: 35px;
  margin: 0 auto; }
  .logo img {
    height: 100%; }

form {
  display: flex;
  flex-direction: column; }
  form input,
  form select {
    margin: 10px 0;
    border: 1px solid #a6a6a6;
    border-radius: 4px;
    padding: 5px;
    font-size: 0.9rem;
    height: 28px; }

#sign-up-in,
#edit-profile {
  width: 80%;
  margin: 0 auto; }
  #sign-up-in h1,
  #edit-profile h1 {
    color: #f6911e;
    text-align: center;
    margin: 30px 0 20px; }
  #sign-up-in p,
  #edit-profile p {
    margin: 3px 0;
    text-align: center; }
  #sign-up-in button,
  #edit-profile button {
    margin-top: 20px; }

button,
#landing-page .connect,
.request-button {
  border: 1px solid #f6911e;
  border-radius: 6px;
  font-size: 0.9rem;
  padding: 5px 15px;
  background-color: #f6911e;
  color: white;
  width: fit-content;
  align-self: center; }

.request-button {
  align-self: flex-start;
  margin-top: 5px; }

.radio-buttons {
  display: flex;
  align-items: center; }
  .radio-buttons input {
    margin-left: 20px;
    margin-right: 10px; }

#landing-page {
  background-image: url(/images/background.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  padding: 0 10% 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly; }
  #landing-page h1 {
    font-size: 3em;
    line-height: 1.5;
    margin: 0; }
  #landing-page p {
    text-align: center;
    margin-top: 20px; }
  #landing-page .connect {
    font-size: 1.2rem;
    padding: 15px 25px;
    margin-bottom: 15px; }

/*--- Profile Page ---*/
.user-header {
  display: flex; }

.user-image {
  display: flex;
  width: 30%;
  justify-content: flex-start; }

.user-summary {
  display: flex;
  width: 60%;
  flex-direction: column;
  margin-left: 5%; }
  .user-summary h1 {
    color: var(--dark-orange);
    margin: 10px 0; }
  .user-summary p {
    margin: 5px 0; }

.user-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 5px; }
  .user-buttons a,
  .user-buttons button {
    color: white;
    background-color: #f6911e;
    border-radius: 6px;
    width: 30px;
    font-size: 1.05em;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 30px; }
  .user-buttons button {
    width: inherit;
    margin-left: 15px; }
  .user-buttons i:hover {
    color: white; }

#edit-profile {
  margin-bottom: 65px; }
  #edit-profile a {
    text-align: center; }

.image-wrapper {
  width: 120px;
  height: 150px;
  background-size: cover;
  background-position: center; }
  .image-wrapper img {
    width: 100%; }

.input-file {
  border: none;
  margin: 15px 0;
  padding: 0;
  align-self: center; }

.genre-list {
  height: 1px;
  visibility: hidden; }

.request-section {
  position: absolute;
  background-color: #000000a6;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center; }
  .request-section .request-popup {
    padding: 20px;
    width: 85%;
    background-color: white;
    border: 3px solid #f6911e;
    position: relative; }
    .request-section .request-popup h2 {
      color: #8f4c00;
      margin: 0;
      text-align: center; }
    .request-section .request-popup label {
      margin-top: 10px; }
    .request-section .request-popup #date, .request-section .request-popup #message {
      margin: 10px 0;
      border: 1px solid #a6a6a6;
      border-radius: 4px;
      padding: 5px;
      font-size: 0.9rem;
      height: 28px; }
    .request-section .request-popup #date {
      background-color: white;
      margin: 18px 5px 0;
      padding-left: 5px; }
    .request-section .request-popup #message {
      height: inherit; }
    .request-section .request-popup .send-button {
      border: 1px solid #f6911e;
      border-radius: 6px;
      font-size: 1rem;
      padding: 5px 15px;
      background-color: #f6911e;
      color: white;
      width: fit-content;
      align-self: center;
      cursor: pointer;
      height: auto;
      margin-bottom: 0; }
    .request-section .request-popup .close-popup {
      position: absolute;
      top: -3px;
      right: -3px;
      border-radius: 0;
      border-bottom-left-radius: 5px;
      padding: 5px 8px; }

.popup-hidden {
  display: none; }

/*--- Homepage ---*/
.searchbox-container {
  position: relative; }

.search-band, .search-stage {
  display: flex;
  background-color: red;
  width: 100%;
  padding: 20px 25px; }
  .search-band form, .search-stage form {
    width: 100%; }

.search-stage {
  position: absolute;
  background-color: blue;
  top: 0; }

.search-top-buttons {
  display: flex;
  justify-content: space-around;
  font-size: 1em; }
  .search-top-buttons a {
    width: 100%;
    background-color: red;
    padding: 10px; }
  .search-top-buttons a:last-child {
    background-color: blue; }

.suggestions-container {
  position: relative; }

.suggestions-band {
  position: absolute;
  background-color: red; }

.suggestions-stage {
  position: absolute;
  background-color: blue;
  display: none; }

.hidden {
  display: none; }

.invisible-input {
  visibility: hidden;
  height: 0; }

/*--- Borders ---*/
.red-border {
  min-width: 10px;
  min-height: 10px;
  border: 1px dashed red; }

.orange-border {
  min-width: 10px;
  min-height: 10px;
  border: 1px dashed #ff9100; }

.yellow-border {
  min-width: 10px;
  min-height: 10px;
  border: 1px dashed #f5c800; }

.green-border {
  min-width: 10px;
  min-height: 10px;
  border: 1px dashed green; }

.blue-border {
  min-width: 10px;
  min-height: 10px;
  border: 1px dashed blue; }

.purple-border {
  min-width: 10px;
  min-height: 10px;
  border: 1px dashed purple; }
