* {
  box-sizing: border-box; }

body {
  display: flex;
  padding: 0;
  margin: 0;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  width: 100vw;
  height: 100vh; }

h1,
h2,
h3,
.title {
  color: #8f4c00;
  font-weight: bold; }

p {
  text-align: left; }

a {
  color: #1fa0d3;
  text-decoration: none;
  cursor: pointer; }

small {
  margin-top: -5px;
  margin-bottom: 10px;
  color: #b10000; }

hr {
  margin: 0 auto;
  width: 90%;
  border: none;
  border-bottom: 1px solid #cfcfcf; }

.cap {
  text-transform: capitalize; }

.main-section {
  padding: 20px 25px 15px;
  height: 100%;
  max-height: calc(100vh - 100px);
  overflow: auto; }

#main-header,
footer {
  background-color: black;
  display: flex;
  width: 100%;
  color: white;
  position: fixed;
  z-index: 10; }
  #main-header i,
  footer i {
    font-size: 1.5em;
    cursor: pointer;
    color: white; }
  #main-header i,
  footer i {
    width: -15px;
    margin-right: -15px; }
  #main-header i:hover,
  footer i:hover {
    color: #f6911e; }
  #main-header small,
  footer small {
    color: #656565;
    width: 30px;
    margin-left: -15px;
    margin-top: 7px; }
  #main-header .header-image,
  footer .header-image {
    width: 32px;
    height: 32px;
    margin-left: -32px;
    border-radius: 50%;
    border: 3px solid #c9710d;
    background-size: cover;
    background-position: center; }

footer {
  bottom: 0px;
  justify-content: space-evenly;
  padding: 12px; }

#main {
  margin: 55px 0 45px;
  width: 100%; }

nav {
  display: flex;
  align-items: center;
  padding: 10px;
  text-align: center;
  width: 100%; }

.logo {
  height: 35px;
  margin: 0 auto; }
  .logo img {
    height: 100%; }

form {
  display: flex;
  flex-direction: column; }
  form input,
  form select,
  form textarea {
    margin: 10px 0;
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    padding: 5px;
    font-size: 0.9rem;
    height: 30px;
    font-family: monospace; }
    form input::placeholder,
    form select::placeholder,
    form textarea::placeholder {
      color: #d1d1d1; }
  form select {
    background-color: #dfdfdf; }

#sign-up-in,
#edit-profile {
  padding-left: 15%;
  padding-right: 15%;
  margin: 0 auto; }
  #sign-up-in h1,
  #edit-profile h1 {
    color: #f6911e;
    text-align: center;
    margin: 30px 0 20px; }
  #sign-up-in p,
  #edit-profile p {
    margin: 3px 0;
    text-align: center; }
  #sign-up-in button,
  #edit-profile button {
    margin-top: 20px; }
  #sign-up-in form p,
  #edit-profile form p {
    text-align: left; }
  #sign-up-in textarea,
  #edit-profile textarea {
    height: auto; }

button,
#landing-page .connect,
.request-button {
  border: 1px solid #f6911e;
  border-radius: 6px;
  font-size: 0.9rem;
  padding: 5px 15px;
  background-color: #f6911e;
  color: white;
  width: fit-content;
  align-self: center; }

.request-button {
  align-self: flex-start;
  margin-top: 5px; }

.radio-buttons {
  display: flex;
  align-items: center; }
  .radio-buttons input {
    margin-left: 20px;
    margin-right: 10px; }

#landing-page {
  background-image: url(/images/background.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  padding: 0 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly; }
  #landing-page h1 {
    font-size: 3.2em;
    line-height: 1.5;
    margin: 0;
    transform: rotate(-5deg);
    color: white; }
  #landing-page p {
    text-align: center;
    margin-top: 30px; }
  #landing-page span {
    color: #f6911e;
    text-shadow: 0 2px #c9710d; }
  #landing-page .connect {
    font-size: 1.2rem;
    padding: 15px 25px; }

/*--- Profile Page ---*/
#user-profile .user-header {
  display: flex;
  margin-bottom: 15px; }
  #user-profile .user-header .user-image {
    width: 120px; }
    #user-profile .user-header .user-image .image-wrapper {
      height: 150px; }

.user-summary {
  display: flex;
  width: 60%;
  flex-direction: column;
  margin-left: 5%; }
  .user-summary h1 {
    margin: 10px 0 6px; }
  .user-summary p {
    margin: 5px 0; }

.user-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 5px; }
  .user-buttons a,
  .user-buttons button {
    color: white;
    background-color: #f6911e;
    border-radius: 6px;
    width: 30px;
    font-size: 1.05em;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 30px; }
  .user-buttons button {
    width: inherit;
    margin-left: 15px; }
  .user-buttons i:hover {
    color: white; }

.user-genres {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -8px; }
  .user-genres p {
    margin-top: 8px;
    padding-right: 10px; }
  .user-genres .genres {
    background-color: #a5432a;
    padding: 5px 12px;
    border-radius: 20px;
    color: white;
    margin: 5px 10px 2px 0; }

#edit-profile .image-section {
  display: flex;
  margin-bottom: 10px; }
  #edit-profile .image-section .input-file {
    border: none;
    margin: auto 0 0 8px;
    color: white; }
    #edit-profile .image-section .input-file:after {
      content: 'Choose file';
      font-size: 14px;
      text-align: center; }

#edit-profile a {
  text-align: center; }

#edit-profile .genre-container {
  margin-bottom: 5px; }
  #edit-profile .genre-container .genre {
    background-color: #a5432a;
    padding: 5px 12px;
    border-radius: 20px;
    color: white;
    margin: 5px 3px 2px 0;
    border: none; }

#edit-profile .genres-select,
#edit-profile .save {
  display: flex;
  justify-content: center;
  align-items: center; }
  #edit-profile .genres-select select,
  #edit-profile .genres-select button,
  #edit-profile .save select,
  #edit-profile .save button {
    margin-right: 10px; }
  #edit-profile .genres-select select,
  #edit-profile .save select {
    width: 100%; }

#edit-profile .title {
  text-align: left; }

#edit-profile .edit-password {
  display: flex;
  justify-content: space-between; }
  #edit-profile .edit-password input {
    display: flex;
    flex-direction: column;
    width: 48%;
    font-size: 0.9em; }

#edit-profile hr {
  margin: 5px auto; }

#edit-profile button {
  margin: 0; }

.image-wrapper {
  width: 120px;
  height: 150px;
  background-size: cover;
  background-position: center; }
  .image-wrapper img {
    width: 100%; }

.genre-list {
  height: 1px;
  visibility: hidden;
  margin: 0;
  padding: 0; }

.request-section {
  position: absolute;
  background-color: #000000a6;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center; }
  .request-section .request-popup {
    padding: 20px;
    width: 85%;
    background-color: white;
    border: 3px solid #f6911e;
    position: relative; }
    .request-section .request-popup h2 {
      color: #c9710d;
      margin: 0;
      text-align: center; }
    .request-section .request-popup label {
      margin-top: 10px; }
    .request-section .request-popup #date,
    .request-section .request-popup #message {
      margin: 10px 0;
      border: 1px solid #b3b3b3;
      border-radius: 4px;
      padding: 5px;
      font-size: 0.9rem;
      height: 28px; }
    .request-section .request-popup #date {
      background-color: white;
      margin: 18px 5px 0;
      padding-left: 5px; }
    .request-section .request-popup #message {
      height: inherit; }
    .request-section .request-popup .send-button {
      border: 1px solid #f6911e;
      border-radius: 6px;
      font-size: 1rem;
      padding: 5px 15px;
      background-color: #f6911e;
      color: white;
      width: fit-content;
      align-self: center;
      cursor: pointer;
      height: auto;
      margin-bottom: 0; }
    .request-section .request-popup .close-popup {
      position: absolute;
      top: -3px;
      right: -3px;
      border-radius: 0;
      border-bottom-left-radius: 5px;
      padding: 5px 8px; }

.popup-hidden {
  display: none; }

/*--- Homepage ---*/
.searchbox-container {
  position: relative;
  border-radius: 0 0 10px 10px; }

.search-band,
.search-stage {
  display: flex;
  background-color: #f6911e;
  width: 100%;
  padding: 10px 25px;
  border-radius: 0 0 10px 10px;
  width: 100%; }
  .search-band *,
  .search-stage * {
    margin: 5px 0 2px; }
  .search-band button,
  .search-stage button {
    background-color: white;
    color: #c9710d;
    border-width: 2px;
    border-color: #c9710d;
    padding: 10px 18px;
    font-weight: bold;
    margin: 10px 0 3px; }
  .logged .search-band, .logged
  .search-stage {
    border-radius: 10px; }

.search-stage {
  background-color: #c9710d;
  top: 0; }
  .search-stage button {
    color: #f6911e;
    border-color: #f6911e; }

.suggestions-container {
  position: relative;
  margin-top: 20px; }

.suggestions-band,
.suggestions-stage {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: white; }
  .suggestions-band h1,
  .suggestions-stage h1 {
    margin: 0; }
  .suggestions-band article,
  .suggestions-stage article {
    border: 5px solid #c9710d;
    padding: 10px;
    border-radius: 3px; }
    .suggestions-band article img,
    .suggestions-stage article img {
      margin-right: 10px; }

.suggestions-stage {
  top: 0;
  height: 100%;
  background-color: white; }
  .suggestions-stage article {
    border-color: #f6911e; }

.hidden {
  display: none !important; }

.invisible-input {
  visibility: hidden;
  height: 0; }

/*--- Card ---*/
.card-container {
  display: grid;
  grid-template-columns: 95px auto;
  grid-gap: 10px;
  margin-top: 20px; }
  .card-container .image-wrapper {
    width: 95px;
    height: 120px; }
  .card-container h2,
  .card-container p {
    margin: 0 0 10px; }
  .card-container h2 {
    margin-top: 2px;
    font-size: 1.15em; }
  .card-container .genres {
    color: #a5432a; }
    .card-container .genres span:after {
      content: ',';
      color: black; }
    .card-container .genres span:last-child:after {
      content: ''; }

#notifications h1,
#requests-list h1 {
  color: #c9710d;
  margin-top: 5px;
  text-align: center; }

#notifications .request-card,
#requests-list .request-card {
  padding: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px; }
  #notifications .request-card h1,
  #notifications .request-card p,
  #requests-list .request-card h1,
  #requests-list .request-card p {
    margin: 0;
    line-height: 1.75;
    text-align: left; }
  #notifications .request-card .card-image,
  #requests-list .request-card .card-image {
    width: 75px;
    height: 75px;
    background-size: cover;
    background-position: center;
    margin-right: 15px;
    border: 3px solid #f6911e;
    border-radius: 10px; }
  #notifications .request-card .card-buttons,
  #requests-list .request-card .card-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    right: 0; }
    #notifications .request-card .card-buttons .responses,
    #requests-list .request-card .card-buttons .responses {
      display: flex;
      justify-content: space-around;
      margin-top: 10px; }
      #notifications .request-card .card-buttons .responses form,
      #requests-list .request-card .card-buttons .responses form {
        flex-direction: row; }
      #notifications .request-card .card-buttons .responses button,
      #requests-list .request-card .card-buttons .responses button {
        font-size: 2.25em;
        background: none;
        border: none;
        color: green;
        cursor: pointer;
        margin-left: 15px;
        cursor: pointer; }
      #notifications .request-card .card-buttons .responses .reject,
      #requests-list .request-card .card-buttons .responses .reject {
        color: #b40000; }
    #notifications .request-card .card-buttons button,
    #requests-list .request-card .card-buttons button {
      display: flex;
      align-self: flex-end;
      margin-top: auto;
      padding: 5px;
      cursor: pointer; }

#notifications li,
#requests-list li {
  list-style: none; }

.message-container {
  width: 100%;
  height: 2px;
  overflow: hidden;
  transition: .2s all linear; }
  .message-container.active {
    transition: .2s all linear;
    height: 30px; }
  .message-container p {
    padding: 10px 0;
    color: #645f5f; }

.card-content {
  display: flex;
  position: relative; }
  .card-content .card-info {
    width: 60%; }
  .card-content .cancel-button {
    background-color: #c41f1f;
    border-color: #b10000; }
  .card-content .cancel-form {
    position: absolute;
    right: 0;
    width: auto;
    margin-top: 30px; }

/*--- Notifications ---*/
.request-container {
  position: relative;
  height: calc(100% - 50px); }

.request-accepted,
.request-rejected {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 20px 25px; }
  .request-accepted form,
  .request-rejected form {
    width: 100%; }

.requests-top-buttons {
  display: flex;
  justify-content: center;
  font-size: 1em; }
  .requests-top-buttons a {
    width: auto;
    background-color: white;
    border: 3px solid #f6911e;
    border-radius: 20px 0 0 20px;
    color: #f6911e;
    padding: 5px 22px 5px 25px;
    margin: 0 -2px 0 0; }
  .requests-top-buttons a:last-child {
    border-radius: 0 20px 20px 0;
    margin: 0 0 0 -2px;
    padding: 5px 25px 5px 22px; }
  .requests-top-buttons .selected {
    background-color: #f6911e;
    color: white; }

.visible {
  display: block; }

/*--- Borders ---*/
.red-border {
  min-width: 10px;
  min-height: 10px;
  border: 1px dashed red; }

.orange-border {
  min-width: 10px;
  min-height: 10px;
  border: 1px dashed #ff9100; }

.yellow-border {
  min-width: 10px;
  min-height: 10px;
  border: 1px dashed #f5c800; }

.green-border {
  min-width: 10px;
  min-height: 10px;
  border: 1px dashed green; }

.blue-border {
  min-width: 10px;
  min-height: 10px;
  border: 1px dashed blue; }

.purple-border {
  min-width: 10px;
  min-height: 10px;
  border: 1px dashed purple; }

.search-top-buttons {
  display: flex;
  border-radius: 5px; }
  .search-top-buttons .searchbox-button {
    font-weight: bold;
    color: white;
    background-color: #f6911e;
    text-align: center;
    width: 100%;
    border-radius: 10px 0 0 0;
    padding: 10px; }
    .search-top-buttons .searchbox-button:last-child {
      border-radius: 0 10px 0 0;
      background-color: #c9710d; }

.request-card button {
  align-self: end;
  padding: 5px 6px; }

.request-card div button {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px 6px; }

#accept, #reject {
  position: relative; }

.card-info h1 a {
  color: #c9710d; }

.no-results {
  color: gray; }
