:root {
  --orange: #f6911e;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  width: 100vw;
  height: 100vh;
}

a {
  color: #00b7ff;
}

#main-header,
footer {
  background-color: black;
  display: flex;
  width: 100%;
  color: white;
}

#main-header i,
footer i {
  font-size: 1.5em;
  cursor: pointer;
  color: white;
}
i:hover {
  color: var(--orange);
}

/*--- #main-header ---*/

nav {
  display: flex;
  align-items: center;
  padding: 10px;
  text-align: center;
  width: 100%;
}

nav i {
  position: absolute;
}

.logo {
  height: 35px;
  margin: 0 auto;
}

.logo img {
  height: 100%;
}

/*--- Footer ---*/

footer {
  position: fixed;
  bottom: 0px;
  justify-content: space-evenly;
  padding: 12px;
}

/*--- Login ---*/

/*--- Forms ---*/
form {
  display: flex;
  flex-direction: column;
}

form input, form select {
  margin: 10px 0;
  border: 1px solid #a6a6a6;
  border-radius: 4px;
  padding: 5px;
  font-size: 0.9rem;
}

p {
  text-align: left;
}

#sign-up-in,
.edit-profile {
  width: 80%;
  margin: 0 auto;
}

#sign-up-in h1 {
  color: var(--orange);
  text-align: center;
  margin: 30px 0 20px;
}

#sign-up-in p {
  margin: 3px 0;
  text-align: center;
}

button,
#landing-page .connect {
  border: 1px solid var(--orange);
  border-radius: 6px;
  font-size: 0.9rem;
  padding: 5px 15px;
  background-color: var(--orange);
  color: white;
  width: fit-content;
  align-self: center;
}

.radio-buttons {
  display: flex;
  align-items: center;
}

.radio-buttons input {
  margin-left: 20px;
  margin-right: 10px;
}

.sign-up-in-form button {
  margin-top: 20px;
}

/*--- Landing ---*/

#landing-page {
  background-image: url(/images/background.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  padding: 0 10% 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
}

#landing-page h1 {
  font-size: 3em;
  line-height: 1.5;
  margin: 0;
}

#landing-page p {
  text-align: center;
  margin-top: 20px;
}

#landing-page .connect {
  font-size: 1.2rem;
  padding: 15px 25px;
  margin-bottom: 15px;
}

/*--- Profile Page ---*/

.profile-header {
  display: flex;
  padding: 15px;
}

.profile-buttons {
  display: flex;
  flex-direction: row;
}

.profile-buttons a {
  color: white;
  background-color: var(--orange);
  border-radius: 6px;
  width: 30px;
  font-size: 1.05em;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 15px;
}
.profile-buttons a,
.profile-buttons button {
  height: 30px;
}

.profile-buttons button {
  padding: 4px 15px 6px;
}

.edit-profile .image-wrapper {
  width: 100px;
  height: 150px;
  margin: 15px auto 0;
}

.edit-profile {
  margin-bottom: 65px;
}

.edit-profile a {
  text-align: center;
}

.image-wrapper {
  width: 100px;
  height: 150px;
}

.image-wrapper img {
  width: 100%;
}

small {
  margin-top: -5px;
  margin-bottom: 10px;
  color: #b10000;
}

.input-file {
  border: none;
  margin: 15px 0;
  padding: 0;
  align-self: center;
}
/*--- Borders ---*/

.red-border {
  min-width: 10px;
  min-height: 10px;
  border: 1px dashed red;
}

.orange-border {
  min-width: 10px;
  min-height: 10px;
  border: 1px dashed #ff9100;
}

.yellow-border {
  min-width: 10px;
  min-height: 10px;
  border: 1px dashed #f5c800;
}

.green-border {
  min-width: 10px;
  min-height: 10px;
  border: 1px dashed green;
}

.blue-border {
  min-width: 10px;
  min-height: 10px;
  border: 1px dashed blue;
}

.purple-border {
  min-width: 10px;
  min-height: 10px;
  border: 1px dashed purple;
}
