$orange: #f6911e;
$dark-orange: #8f4c00;

* {
  box-sizing: border-box;
}

body {
  display: flex;
  padding: 0;
  margin: 0;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  width: 100vw;
  height: 100vh;
}

p {
  text-align: left;
}

a {
  color: #0095cf;
  text-decoration: none;
  cursor: pointer;
}

small {
  margin-top: -5px;
  margin-bottom: 10px;
  color: #b10000;
}

.main-section {
  padding: 15px 25px;
}

#main-header,
footer {
  background-color: black;
  display: flex;
  width: 100%;
  color: white;
  position: fixed;
  & i {
    font-size: 1.5em;
    cursor: pointer;
    color: white;
  }
  & i:hover {
    color: $orange;
  }
}

footer {
  bottom: 0px;
  justify-content: space-evenly;
  padding: 12px;
}

#main {
  margin: 55px 0 45px;
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.logo {
  height: 35px;
  margin: 0 auto;
  & img {
    height: 100%;
  }
}

form {
  display: flex;
  flex-direction: column;
  & input,
  & select {
    margin: 10px 0;
    border: 1px solid #a6a6a6;
    border-radius: 4px;
    padding: 5px;
    font-size: 0.9rem;
    height: 28px;
  }
}

#sign-up-in,
#edit-profile {
  width: 80%;
  margin: 0 auto;
  & h1 {
    color: $orange;
    text-align: center;
    margin: 30px 0 20px;
  }
  & p {
    margin: 3px 0;
    text-align: center;
  }
  & button {
    margin-top: 20px;
  }
}

button,
#landing-page .connect,
.request-button {
  border: 1px solid $orange;
  border-radius: 6px;
  font-size: 0.9rem;
  padding: 5px 15px;
  background-color: $orange;
  color: white;
  width: fit-content;
  align-self: center;
}

.request-button {
  align-self: flex-start;
  margin-top: 5px;
}

.radio-buttons {
  display: flex;
  align-items: center;
  & input {
    margin-left: 20px;
    margin-right: 10px;
  }
}

#landing-page {
  background-image: url(/images/background.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  padding: 0 10% 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  & h1 {
    font-size: 3em;
    line-height: 1.5;
    margin: 0;
  }
  & p {
    text-align: center;
    margin-top: 20px;
  }
  & .connect {
    font-size: 1.2rem;
    padding: 15px 25px;
    margin-bottom: 15px;
  }
}

/*--- Profile Page ---*/

.user-header {
  display: flex;
}

.user-image {
  display: flex;
  width: 30%;
  justify-content: flex-start;
}

.user-summary {
  display: flex;
  width: 60%;
  flex-direction: column;
  margin-left: 5%;
  & h1 {
    color: var(--dark-orange);
    margin: 10px 0;
  }
  & p {
    margin: 5px 0;
  }
}

.user-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 5px;
  & a,
  & button {
    color: white;
    background-color: $orange;
    border-radius: 6px;
    width: 30px;
    font-size: 1.05em;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 30px;
  }
  & button {
    width: inherit;
    margin-left: 15px;
  }
  & i:hover {
    color: white;
  }
}

#edit-profile {
  margin-bottom: 65px;
  & a {
    text-align: center;
  }
}

.image-wrapper {
  width: 120px;
  height: 150px;
  background-size: cover;
  background-position: center;
  & img {
    width: 100%;
  }
}

.input-file {
  border: none;
  margin: 15px 0;
  padding: 0;
  align-self: center;
}

.genre-list {
  height: 1px;
  visibility: hidden;
}

/*--- Borders ---*/

.red-border {
  min-width: 10px;
  min-height: 10px;
  border: 1px dashed red;
}

.orange-border {
  min-width: 10px;
  min-height: 10px;
  border: 1px dashed #ff9100;
}

.yellow-border {
  min-width: 10px;
  min-height: 10px;
  border: 1px dashed #f5c800;
}

.green-border {
  min-width: 10px;
  min-height: 10px;
  border: 1px dashed green;
}

.blue-border {
  min-width: 10px;
  min-height: 10px;
  border: 1px dashed blue;
}

.purple-border {
  min-width: 10px;
  min-height: 10px;
  border: 1px dashed purple;
}
